{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-8 mx-auto">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>

        <h1 class="display-6 fw-bold border-bottom pb-2 mb-4">{{ page.title }}</h1>

        <div class="lh-lg text-dark">
            {% for block in page.body %}
                {% if block.block_type == 'raw_html' %}
                    {{ block.value|safe }}
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
